<div class="modal fade" id="{{ include.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ include.aria_label }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ include.title_id }}">{{ include.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {{ include.content }}

      </div>
      <div class="modal-footer">
        {% include button.liquid 
           label='Cancel'
           style='red'
           data_dismiss='modal'
        %}
        {% include button.liquid 
           label=include.action_label 
           type='submit'
           style='dark'
           onclick=include.action_function
        %}
      </div>
    </div>
  </div>
</div>